html {
  position: relative;
  min-height: 100%;
}

#navbar {
  margin: 0;
  background: #F3F3F3;
}

#logo-style {
  font-family: 'Pacifico', cursive;
  font-size: 2.2em;
  color: #ED254E 
}

#logo-style:hover {
  color: salmon;
}

#link-style {

}

.navbar-default .navbar-nav>li>a {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  color: black;
  
}

.navbar-default .navbar-nav>li>a:hover {
  color: #ED254E 
}

.dropdown-menu>li>a {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

.footer-style {
  min-height: 50px;
  background: #2C363F;
  padding: 15px;
}

.footer-style h3 {
  font-family: 'Pacifico', cursive;
  margin: 0;
  font-size: 1em;
  color: white;
}

footer {
  position: relative;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #191716 ;
  bottom: 0;
  
}

.footer-links {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 1.2em;
  padding: 8px
}